<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Add New Card">
  <ion-content class="padding">
    <form ng-submit="submit()" ng-controller="CardCreateCtrl">
      <div class="list">

          <label class="item item-input item-floating-label">
            <input type="text" ng-model="name" placeholder="Name">
          </label>

            <label class="item item-input item-floating-label">
              <input type="text" required ng-model="barcode" placeholder="Card number">
            </label>


        <button class="button icon button-dark" ng-click="scanBarcode()">
          <span class="ion-qr-scanner"></span><span class="scan">scan</span>
        </button>

        <input type="hidden" ng-model="service" placeholder="Service">

      </div>
      <button class="button button-block button-positive">
        Add
      </button>
    </form>
  </ion-content>
</ion-view>
