<ion-view view-title="Check-in">
    <ion-content class="checkin-page">
        <ion-list>
            <div class="card" ng-if="!card">
                <div class="item item-button-right">
                    You don't have LOKAL card
                    <button class="button button-positive" ui-sref="tab.card-create({serviceId : '1', isFestCard: 'true'})">
                        Add
                    </button>
                </div>
            </div>
            <div class="list card-info" ng-class="{'with-password' : hasBalanceData()}" ng-if="card">
                <div class="item item-body">
                    <img class="full-image fest-logo" ng-src="img/LokalLogo.png">
                    <div class="card-balance" ng-if="hasBalanceData()">
                        <div class="bofon-number" ng-bind="balance"></div>
                        <div class="bofon-title">Bofony</div>
                    </div>
                </div>
                <div class="item item-body">
                    <barcode-directive current-code="card.code"></barcode-directive>
                </div>
                <div class="item item-body">
                    <form>
                        <div class="list">
                            <span class="button button-large button-dark" ng-click="scanBarcode()">
                                <span class="ion-qr-scanner icon"><span class="scan">Check-in by QR</span></span>
                            </span>
                        </div>
                    </form>
                </div>
                <a href="#" class="item item-body manual-checkin-button" ng-click="toggleManualBlock()">
                    <div class="row">
                        <div class="col col-50 col-offset-50">
                            Manually check-in
                            <i class="ion-arrow-down-b" ng-show="!showManualBlock()"></i>
                            <i class="ion-arrow-up-b" ng-show="showManualBlock()"></i>
                        </div>
                    </div>
                </a>
                <div class="item item-body" ng-show="showManualBlock()">
                    <div class="list cafe-select-block">

                        <label class="item item-input item-select">
                                <span class="input-label">
                                    Cafe
                                </span>
                            <select ng-required="true" ng-options="cafe as cafe.name for cafe in cafes track by cafe.id" ng-model="selectedCafe.value">
                                <option value="" disabled selected>Select Or Scan QR-Code</option>
                            </select>
                        </label>

                    </div>
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" required ng-model="table.id" placeholder="Table ID">
                        </label>
                    </div>
                    <button class="button button-block button-positive" ng-click="submit()">Check-in</button>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
