<ion-view cache-view="false" view-title="MyCards" hide-back-button="true">
  <ion-content>
    <ion-list>
      <div id="no-cards-block" class="card" ng-if="!cards.length">
        <div class="item item-button-right">
          You have not any cards.
          <button class="button button-positive" ui-sref="tab.services">
            Add
          </button>
        </div>
      </div>
      <ion-item  class="item-remove-animate item-avatar item-icon-right" ng-repeat="card in cards" type="item-text-wrap"
                href="#/tab/cards/{{card.id}}">
        <div ng-if="card.service.logo_url" class="service-logo" style="background-image: url('{{card.service.logo_url}}');"></div>
        <div ng-if="!card.service.logo_url" class="service-logo" style="background-image: url('{{defaultLogo}}');"></div>
        <h2 class="item-text-center" ng-if="card.name">{{card.name}}</h2>
        <h2 class="item-text-center" ng-if="!card.name">{{card.service.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="removeCard(card)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
