/* Empty. Add your own CSS if you like */
.scan {margin-left: 10px;font-size: 16px;}
.ng-invalid {border-color: red;}
.scan-input-block{
  padding-left: 1px;
  padding-right: 0;
}
.scan-input-block .item-input-wrapper{
  border-radius: 0;
}
.scan-input-block .button{
  padding: 6px 12px 4px;
}

.profile .user-name{
  display: inline-block;
  padding-top: 5px;
}

.profile .button.ion-log-out{
  float: right;
}
.checkin-page .card-info{
  text-align: center;
}
.checkin-page .card-info .fest-logo{
  width: 50%;
}
img.barcode{
  width: auto!important;
  max-width: 90%;
  max-height: 200px;
}