/* Empty. Add your own CSS if you like */
.scan {margin-left: 10px;font-size: 16px;}
.ng-invalid {border-color: red;}
.scan-input-block{
  padding-left: 1px;
  padding-right: 0;
}
.scan-input-block .item-input-wrapper{
  border-radius: 0;
}
.scan-input-block .button{
  padding: 6px 12px 4px;
}

.profile .user-name{
  display: inline-block;
  padding-top: 5px;
}

.profile .button.ion-log-out{
  float: right;
}
.checkin-page .card-info{
  text-align: center;
}
.checkin-page .card-info .fest-logo{
  width: 50%;
}
.checkin-page .cafe-select-block .input-label{
 text-align: left;
}
.checkin-page  .cafe-select-block{
  margin-bottom:0;
}
.checkin-page .manual-checkin-button{
  color: #666;
  font-size:14px;
}
img.barcode{
  width: auto!important;
  max-width: 90%;
  max-height: 200px;
}
.item-text-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
}